aiohttp==3.9.4
async-timeout==4.0.2
attrs==21.2.0
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==2.0.4
idna==3.7
msgpack==1.0.2
multidict==5.1.0
Naked==0.1.31
pycryptodome==3.19.1
pyeasee==0.7.53
PyYAML==5.4.1
requests==2.31.0
shellescape==3.8.1
signalrcore==0.*
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.6
websocket-client==0.54.0
yarl==1.6.3
python-telegram-bot==20.*